@use "variables" as *;
@use "mixin" as *;

// フッター
.footer{
    padding-top: 64px;
    background-color: $base-brown;
    &-container{
        width: fit-content;
        padding-bottom: 32px;
        margin: 0 auto;
        text-align: center;        
    }
    &__logo{
        height: 48px;
    }
    .nav{
        margin-top: 32px;
        margin-bottom: 24px;
    }
    .sns{
        justify-content: center;
        column-gap: 8px;
        margin-bottom: 64px;
    }
}

// コピーライト
.copyright{
  display: block;
  padding-top: 32px;
  border-top: 1px solid $text-brown;
  color: $text-brown;
  font-size: 16px;
  line-height: 1;
}