// variables.scssをvという形式で取り込む。
@use "variables" as *;
@use "common" as *;
@use "modules" as *;
@use "header" as *;
@use "footer" as *;
@use "mixin" as *;
 

// ヒーローセクション
.hero{
    padding-top: 64px;
    &-container{
        height: calc(100vh - 64px);
        padding-top: 128px;
        background: url("../img/01.jpg");
        background-size: cover;
        background-position: center;
        @include(sp){
            height: initial;
            padding-top: 96px;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }
    &__title{
        color: $text-white;
        font-family: "Noto Serif JP";
        font-size: 40px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.05em;
        text-align: center;   
        
        @include mq(sp){
            font-size: 24px;
        }
    }
}

// お知らせセクション
.news{
    padding-top: 64px;
    padding-bottom: 96px;

    @include mq(sp){
        padding: 48px 16px;

    }

    &-posts{
        display: grid;
        gap: 8px;
        // gtc
        grid-template-columns: 636px 314px 314px;
        // gtr
        grid-template-rows: 314px 314px;
        margin-bottom: 80px;

        @include mq(sp){
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            margin-bottom:24px;
        }
    }

    &-post{
        position: relative;
        background-size: cover;
        background-position: center;

        &-link{
            display: block;
            width: 100%;
            height: 100%;
        }

        &-contents{
            position: absolute;
            left: 16px;
            bottom: 16px;
            color: $text-white;
            font-family: $sans-jp;
        }

        &__title{
            margin-bottom: 8px;
            line-height: 1.5;
            letter-spacing: 0.05em;
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.30);

            &--large{
                font-size: 24px;
                line-height: 1.3;
            }
        }

        &__category{
            display: inline-block;
            padding: 4px 12px;
            margin-right: 8px;
            border-radius: 10px;
            background-color: $main-brown;
            font-size: 12px;
            line-height: 1;
        }

        &__date{
            font-size: 12px;
            line-height: 1;
        }

        &-first{
            background-image: url("../img/02.jpg");
            grid-column: 1/2;
            grid-row: 1/3;
            aspect-ratio: 1/1;
            object-fit: cover;

            @include mq(sp){
                grid-column: 1/3;
                grid-row: 1/2;
            }
        }

        &-second{
            background-image: url("../img/03.jpg");
            grid-column: 2/4;
            grid-row: 1/2;
            aspect-ratio: 2/1;
            object-fit: cover;

            @include mq(sp){
                grid-column: 1/3;
                grid-row: 2/3;
            }
        }

        &-third{
            background-image: url("../img/04.jpg");
            grid-column: 2/3;
            grid-row: 2/3;
            aspect-ratio: 1/1;
            object-fit: cover;
            @include mq(sp){
                grid-column: 1/2;
                grid-row: 3/4;
            }

        }

        &-fourth{
            background-image: url("../img/05.jpg");
            grid-column: 3/4;
            grid-row: 2/3;
            aspect-ratio: 1/1;
            object-fit: cover;
            grid-column: 2/3;
            grid-row: 3/4;
        }
    }
}

// 商品ラインナップセクション
.product {
    padding-top: 128px;
    padding-bottom: 96px;
    background-color: $base-brown;

    .section-headline {
        text-align: center;
    }

    &-list {
        display: flex;
        column-gap: 16px;
    }

    &-link {
        position: relative;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: .2;
        }
    }

    &__img {
        position: relative;
        z-index: 0;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    &__kind {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        color: $text-white;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0.05;
        z-index: 1;
    }
}





